@inject HttpClient Http

<Heading Size="HeadingSize.Is3">Resistors Combos</Heading>
<Div>
    @foreach(var gamepiece in GamePieces)
    {
        <GamePieceComponent LoadedGamePiece="@gamepiece.Value" />
    }
</Div>

@code {
    Dictionary< string, GamePiece> GamePieces = new Dictionary<string, GamePiece>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await getGamePieces();
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task getGamePieces()
    {
        var result = await Http.GetFromJsonAsync<Dictionary<string, GamePiece>>("api/GetGamePieces");
        if (result != null)
            GamePieces = result;

        await InvokeAsync(StateHasChanged);

    }
}
